{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 81,
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
