@import url('https://rsms.me/inter/inter.css');

:root {
	font-family: Inter, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #f1f1f1;

	--app-height: 100vh;
}

html {
	height: var(—-app-height);
	background-color: #560bad;
}

body {
	background-color: #560bad;
	background-color: #7209b7;
	margin: 10px;
	height: calc(100% - 20px);
	border-radius: 1rem;
	overflow: hidden;
}

.content {
	height: calc(var(--app-height) - 20px);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	max-width: 500px;
	margin: auto;
	flex-grow: 1;
}

.btn {
	font-family: Inter, sans-serif;
	background-color: #f1f1f1;
	border: none;
	border-radius: 8px;
	height: fit-content;
	width: fit-content;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: 600;
	color: #333;
	box-shadow: 1px 2px 7px #333;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.btn:active {
	filter: brightness(85%);
}